:root {
	--primary: #EF6D63;
	--secondary: #F9EFEB;
	--background: #FFF8F5;
	--text: #3C2F2A;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: acumin-pro, sans-serif;
}

body {
	font-size: 15px;
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	color: var(--text);
	padding: 1em 1em;

}
@media only screen and (min-width: 321px) {
	body {
		font-size: 17px;

	}
}
@media only screen and (min-width: 600px) {
	body {
		padding: 1em 5em 1em 10%;
		font-size: 20px;
	}
}

h1,h2,h3,h4,h5,h6 {
	color: var(--primary);
	font-weight: normal;
}

p {
	margin-top: 0;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href] {
	color: var(--primary);
	text-decoration: none;
}

a[href]:hover {
	border-bottom: 1px solid var(--secondary);
}

img {
	max-width: 100%;
	height: auto;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}
hr {
	margin: 4em 0 3em;
	border-top: 1px solid var(--primary);
	opacity: 0.2;
}
@media only screen and (min-width: 600px) {
	hr {
		margin: 7em 0 6em;
	}
}




.c-header {
	font-size: 90%;
}
.c-header nav ul {
	padding: 0;
	list-style: none;
}

.c-header nav ul :first-child {
	margin-left: 0;
}

.c-header nav li {
	display: inline-block;
	margin: 0 .25em;
	padding: .25em 1em .25em 0;
}

.c-header nav li a[href] {
	color: var(--text);
}

.c-header nav li a[href]:not(:hover) {
	text-decoration: none;
}

.c-header nav li a[data-current="current item"] {
	color: var(--primary);
}

/* Posts List */
.c-post-item {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--secondary);
}
.c-post-item h3 {
	margin-bottom: 0.2em;
}

.c-page {
	padding-bottom: 5em;
	width: 100%;
	max-width: 33em;
}
.c-page__head {
	padding: 20vh 0;
}
.c-page__head h1, .c-page__head h2 {
	color: var(--text);
	font-size: 2.4ch;
}
@media only screen and (min-width: 600px) {
	.c-page__head h1, .c-page__head h2 {
		font-size: 4ch;
	}
}
.c-footer {
	padding: 1em 0;
	font-size: 75%;
}

.c-page figure {
	margin: 3em 0;
}
.c-page img {
	width: 100%;
}

.c-page figcaption {
	font-size: 80%;
	opacity: 0.8;
}
.c-page p {
	margin-bottom: 1.5em;
}

.c-page--post {
	max-width: 100%;
}
.c-page--post .c-page__head {
	padding: 10vh 0 5vh;
}
.c-image-gallery {
	/* Prevent vertical gaps */
	line-height: 0;
	column-count: 1;
	column-gap: 8px;  
}
@media only screen and (min-width: 600px) {
	.c-image-gallery {
		column-count: 2;
	}
}
@media only screen and (min-width: 1900px) {
	.c-image-gallery {
		column-count: 3;
	}
}
  
.c-image-gallery img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	margin-bottom: 8px;
}



/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
	display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
