<footer class="c-footer">
    A simple, static site powered by <a href="https://www.11ty.dev/" title="11ty">11ty</a>, <a href="https://forestry.io/" title="Forestry">Forestry</a> and <a href="https://www.netlify.com/" title="Netlify">Netlify</a>.
</footer>
