<footer class="c-footer">
  <small>
    A simple site powered by <a href="https://www.11ty.dev/" title="11ty">11ty</a> and <a href="https://www.netlify.com/" title="Netlify">Netlify</a>.
  </small>
</footer>
