---
layout: layouts/base.njk
section: writing
permalink: /writing/index.html
---
<header class="c-page__head">
    <h1>{{ title }}</h1>
</header>
{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
